/* ----------------------------------------
  RESET
---------------------------------------- */
  
* {
  box-sizing: border-box;
}



/* ----------------------------------------
  GENERAL 
---------------------------------------- */

body {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-size: 1.5em;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: red;
  text-decoration: none;
  font-weight: 400;
}

.container {
  width: 90%;
  margin: auto;
}

#netmatters-logo {
  width: 100%;
  height: auto;
}

/* ----------------------------------------
  TOP NAV
---------------------------------------- */

.top-nav {
  padding-top: 2em;
  margin-top: 2em;
}
.top-nav, .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.site-logo {
  width: 300px;
}

.nav {
	margin-top: 1.5em;
}

.nav a {
	display: block;
	color: #000;
	font-size: 1.125em;
	font-weight: 300;
	text-align: center;
	padding: .4em;
	border-bottom: 1px solid #ebecec;
}

.nav a:hover {
	color: #fff;
	border-bottom-color: #52bab3;
}

.support {
  background: #4183d7;
  border-radius: 3px;
  align-self: center;
}

#hamburger {
  background: #000;
  border-radius: 3px;
}

#hamburger a {
  color: #fff;
  font-size: 0.75em;
  text-transform: uppercase;
}

#hamburger a:hover {
  color: red;
  font-size: 0.75em;
  text-transform: uppercase;
}

/* ----------------------------------------
  MEDIA QUERIES
---------------------------------------- */

@media (min-width: 769px) {
	p {
		-webkit-column-count: 2;
		-webkit-column-gap: 2.5em;
	
		-moz-column-count: 2;
		-moz-column-gap: 2.5em;
	
		column-count: 2;
		column-gap: 2.5em;
	}
  .main-header {
		height: 200px;
		justify-content: flex-end;
	}
	.site-logo {
		width: 402px;
	}
	.nav {
		margin-top: 3em;
		flex-direction: row;
		justify-content: space-between;
	}
	.nav a {
		border-bottom-color: transparent;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1080px;
	}
  .main-header {
		flex-direction: row;
	}
	.site-logo {
		margin-right: auto;
	}
	.nav {
		margin-top: 0;
		align-self: center;
	}
	.nav li {
		margin-left: .65em;
		margin-right: .65em;
	}
}

/* .container {
  display: flex;
  padding: 10px;
  background: #fff;
  justify-content: center;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
}

.item {
  color: #000;
  padding: 15px;
  margin: 5px;
  background: #fff;
  align-self: center;
}

.hamburger, .hamburger a, .hamburger a:hover {
  background: #000;
  color: #fff;
  width: fit-content;
  font-size: 0.75em;
  text-transform: uppercase;
}

.hamburger {
  background-image: url('../resources/icon-hamburger-white.svg');
} */

/* ----------------------------------------
  SEARCH BAR
---------------------------------------- */

/* .topnav input[type=text] {
  border: 1px solid #ccc;

}

.icon-search {
  background-image: url('../resources/icon-search-black.svg');
} */

/* ----------------------------------------
  MAIN NAV
---------------------------------------- */



/* ----------------------------------------
  HERO AREA
---------------------------------------- */



/* ----------------------------------------
  CUSTOMERS AREA
---------------------------------------- */

/* .customers {
  background-image: linear-gradient(#efefef, #ffffff);
  padding: 2em;
}
.custimages {
  display: flex;
  justify-content: center;
}

.custimages li {
  padding: 0 2em;
  margin: 0 20px;
}

#custim1 {
  background-image: url('../resources/asset14.png');
  height: 70px;
  width: 188px;
}

#custim1:hover {
  background-image: url('../resources/asset13.png')
}

#custim2 {
  background-image: url('../resources/asset16.png');
  height: 70px;
  width: 287px;
}

#custim2:hover {
  background-image: url('../resources/asset15.png')
}

#custim3 {
  background-image: url('../resources/asset18.png');
  height: 70px;
  width: 72px;
}

#custim3:hover {
  background-image: url('../resources/asset17.png')
}

#custim4 {
  background-image: url('../resources/asset20.png');
  height: 70px;
  width: 322px;
}

#custim4:hover {
  background-image: url('../resources/asset19.png')
} */

/* ----------------------------------------
  NEWSLETTER FORM AREA
---------------------------------------- */

/* .newsletter {
  background: #ddd;
} */

/* ----------------------------------------
  FOOTER AREA
---------------------------------------- */
/* footer {
  display: flex;
} */
