/* ----------------------------------------
  RESET
---------------------------------------- */
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* ----------------------------------------
  GENERAL 
---------------------------------------- */
body {
	
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* ----------------------------------------
  MAIN MENU
---------------------------------------- */

.heading-block {
  display: flex;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 1em;
}

.heading, .support, .contact, .search, .hamburger {
  justify-content: center;
  align-self: center;
  padding: 1em;
  line-height: 1em;
}

.heading-block a {
  color: #000;
}

/* ----------------------------------------
  HERO AREA
---------------------------------------- */

.hero {
  background-image: url("../resources/asset3.jpeg");
  min-height:fit-content;
  color: white;
}

/* ----------------------------------------
  HERO AREA
---------------------------------------- */

nav a {
  /* text-decoration: none; */
  color: white;
}

nav {
  background: #333645;
  border-bottom: 1px solid #666;
}

nav ul,
nav li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav li {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  color: white;
  text-transform: uppercase;
  width: 175px;  
  background-color: #333645;  
  padding: 1em;
  line-height: 1em;
  border-top: none;
  border-right: 1px solid #666;
  border-left: 1px solid #000;
}

small {
  font-size: 0.6em;
  padding: 0;
}


/* ----------------------------------------
  CUSTOMERS AREA
---------------------------------------- */

.customers {
  background-image: linear-gradient(#efefef, #ffffff);
  padding: 2em;
}
.custimages {
  display: flex;
  justify-content: center;
}

.custimages li {
  padding: 0 2em;
  margin: 0 20px;
}

#custim1 {
  background-image: url('../resources/asset14.png');
  height: 70px;
  width: 188px;
}

#custim1:hover {
  background-image: url('../resources/asset13.png')
}

#custim2 {
  background-image: url('../resources/asset16.png');
  height: 70px;
  width: 287px;
}

#custim2:hover {
  background-image: url('../resources/asset15.png')
}

#custim3 {
  background-image: url('../resources/asset18.png');
  height: 70px;
  width: 72px;
}

#custim3:hover {
  background-image: url('../resources/asset17.png')
}

#custim4 {
  background-image: url('../resources/asset20.png');
  height: 70px;
  width: 322px;
}

#custim4:hover {
  background-image: url('../resources/asset19.png')
}

/* ----------------------------------------
  NEWSLETTER FORM AREA
---------------------------------------- */

.newsletter {
  background: #ddd;
}

/* ----------------------------------------
  FOOTER AREA
---------------------------------------- */
footer {
  display: flex;
}
