/* ----------------------------------------
  RESET
---------------------------------------- */
  
* {
  box-sizing: border-box;
}



/* ----------------------------------------
  GENERAL 
---------------------------------------- */

body {
  color: #000;
  // background: lemonchiffon;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  /* line-height: 1.5; */
  margin: 0;
}

h1 {
  font-size: 1.5em;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#netmatters-logo {
  width: 100%;
  /* height: auto; */
}

/* ----------------------------------------
  TOP NAV
---------------------------------------- */

.top-nav-container {
  background: #fff;
  width: 100%;
}

.top-nav {
  padding: 10px 2px;
  width: 95%;
  margin: auto;
  
}
.top-nav, .nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.nav {
	margin-top: 0.5em;
  background: #fff;
  width: 100%;
  justify-content: space-between;
  padding-right: 5px;
  /* align-items: center;
  flex-wrap: wrap; */
}

.nav a,
.nav a:hover,
.nav a:visited {
	text-align: center;
  text-decoration: none;
  color: #fff;
}

.nav li {
  /* display: block; */
  padding: 5px;
  /* margin-right: 5px;  */
  text-align: center;
  /* height: 70px; */
}

.site-logo {
  background: #fff;
  width: 300px;
  order: 1;
  /* flex-grow: 3; */
}

.contact {
  background: #fff;
  order: 2;
  /* flex-grow: 1; */
  /* padding-top: 20px;  */
  /* width: 50px; */
  /* align-self: center; */
}

.contact:hover {
  border-bottom: 4px solid #000;
}

.hamburger {
  background: #333645;
  order: 3;
  border-radius: 3px;
  color: #fff;
  font-size: 0.8em;
  text-transform: uppercase;
  /* flex-grow: 1; */
  height: 56px;
}

.hamburger:hover {
  background: #000;
}

.search {
  background: #e5e5e5;
  order: 4;
  flex-grow: 6;
  border: 2px solid #cecece;
  border-radius: 3px;
  color: #999;
  text-align: left;
}


/* ----------------------------------------
  MAIN-CONTENT
---------------------------------------- */

.hero-image {
  display: flex;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75)), url("../resources/asset3.jpeg") no-repeat;
  background-size: cover;
}

.main-content {
  width: 95%;
  margin: auto;
  color: white;
}

.hormenu a {
  /* text-decoration: none; */
  color: white;
}

.hormenu {
  background: #333645;
  border-bottom: 1px solid #666;
}

.hormenu ul,
.hormenu li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hormenu li {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  color: white;
  text-transform: uppercase;
  width: 175px;  
  background-color: #333645;  
  padding: 1em;
  line-height: 1em;
  border-top: none;
  border-right: 1px solid #666;
  border-left: 1px solid #000;
}

small {
  font-size: 0.6em;
  padding: 0;
}

/* ----------------------------------------
  CUSTOMERS AREA
---------------------------------------- */

.customers {
  background-image: linear-gradient(#efefef, #ffffff);
  padding: 2em;
}
.custimages {
  display: flex;
  justify-content: center;
}

.custimages li {
  padding: 0 2em;
  margin: 0 20px;
}

#custim1 {
  background-image: url('../resources/asset14.png');
  height: 70px;
  width: 188px;
}

#custim1:hover {
  background-image: url('../resources/asset13.png')
}

#custim2 {
  background-image: url('../resources/asset16.png');
  height: 70px;
  width: 287px;
}

#custim2:hover {
  background-image: url('../resources/asset15.png')
}

#custim3 {
  background-image: url('../resources/asset18.png');
  height: 70px;
  width: 72px;
}

#custim3:hover {
  background-image: url('../resources/asset17.png')
}

#custim4 {
  background-image: url('../resources/asset20.png');
  height: 70px;
  width: 322px;
}

#custim4:hover {
  background-image: url('../resources/asset19.png')
}

/* ----------------------------------------
  NEWSLETTER FORM AREA
---------------------------------------- */

.newsletter {
  background: #ddd;
}

/* ----------------------------------------
  FOOTER AREA
---------------------------------------- */
footer {
  display: flex;
}

/* ----------------------------------------
  MEDIA QUERIES
---------------------------------------- */

@media (min-width: 769px) {
  .top-nav {
		height: 200px;
		justify-content: flex-end;
	}
	.site-logo {
		width: 350px;
	}
	.nav {
		margin-top: 3em;
		flex-direction: row;
		justify-content: space-between;
	}
	.nav a {
		border-bottom-color: transparent;
	}
  .search {
    max-width: 400px;
    order: 3;
  }
  .hamburger {
    order: 4;
  }
}

@media (min-width: 1200px) {
	.top-nav-container {
		/* width: 1080px; */
	}
  .top-nav {
		flex-direction: row;
	}
	.site-logo {
		margin-right: auto;
	}
	.nav {
		margin-top: 0;
		align-self: center;
	}
	.nav li {
		margin-left: .65em;
		margin-right: .65em;
	}
}
