/* ----------------------------------------
  RESET
---------------------------------------- */
  
* {
  box-sizing: border-box;
}

/* ----------------------------------------
  VARIABLES - COLOURS 
---------------------------------------- */

$color-web-design: #926fb1;
$color-web-design-dark: #79539a;
$color-it-support: #4183d7;
$color-it-support-dark: #286abd;
$color-telecom-services: #d64541;
$color-telecom-services-dark: #bc2c28;
$color-bespoke-software: #67809f;
$color-bespoke-software-dark: #526781;
$color-digital-marketing: #2ecc71;
$color-digital-marketing-dark: #25a25a;
$color-cyber-security: #f62459;
$color-cyber-security-dark: #de093f;
$color-white: #fff;
$color-black: #333645;

/* ----------------------------------------
  GENERAL 
---------------------------------------- */

body {
  color: $color-black;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  /* line-height: 1.5; */
  margin: 0;
}

// h1 {
//   font-size: 1.5em;
// }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#netmatters-logo {
  width: 100%;
  /* height: auto; */
}

.wrapper {
  display: flex;
  flex-direction: column;
}

/* ----------------------------------------
  TOP NAV
---------------------------------------- */

.top-nav-container {
  background: $color-white;
  width: 100%;
  order: 1;
  height: 170px;
}

.top-nav {
  padding: 15px 2px;
  width: 95%;
  margin: auto;
  
}
.top-nav, .nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.nav {
	margin-top: 0.5em;
  background: $color-white;
  width: 100%;
  justify-content: space-between;
  padding-right: 5px;
  /* align-items: center;
  flex-wrap: wrap; */
}

.nav a,
.nav a:hover,
.nav a:visited {
	text-align: center;
  text-decoration: none;
  color: $color-white;
}

.nav li {
  /* display: block; */
  padding: 5px;
  /* margin-right: 5px;  */
  text-align: center;
  /* height: 70px; */
}

.site-logo {
  background: $color-white;
  width: 325px;
  order: 1;
  /* flex-grow: 3; */
}

.contact {
  background: $color-white;
  order: 2;
  /* flex-grow: 1; */
  /* padding-top: 20px;  */
  /* width: 50px; */
  /* align-self: center; */
}

.contact:hover {
  // border-bottom: 4px solid $color-black;
  text-decoration: underline;
}

.hamburger {
  background: $color-black;
  order: 3;
  border-radius: 3px;
  color: $color-white;
  font-size: 0.8em;
  text-transform: uppercase;
  /* flex-grow: 1; */
  height: 56px;
}

.hamburger:hover {
  background: $color-black;
}

.search {
  background: #e5e5e5;
  order: 4;
  flex-grow: 6;
  border: 2px solid #cecece;
  border-radius: 3px;
  color: #999;
  text-align: left;
}


/* ----------------------------------------
  MAIN-CONTENT
---------------------------------------- */

.hero-image {
  display: flex;
  order: 2;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75)), url("../resources/asset3.jpeg") no-repeat;
  background-size: cover;
}

.main-content {
  width: 95%;
  margin: auto;
  color: $color-white;
  text-align: center;
  align-content: center;
  line-height: 2em;
}

.main-content h1 {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 400;
}

.main-content h2 {
  font-size: 1.25em;
  font-weight: 400;
}

.more-button {
  text-transform: uppercase;
  background: $color-web-design;
  width: fit-content;
  // height: 50px;
  border-radius: 3px;
  align-content: center;
  align-items: center;
  font-size: 1.25em;
  padding: 16px 20px;
  
}

.arrow {
  font-size: 1.25em;
}



/* ----------------------------------------
  HORIZONTAL MENU
---------------------------------------- */

.hormenu {
  display: none;
}

/* ----------------------------------------
  CUSTOMERS AREA
---------------------------------------- */

.customers {
  background-image: linear-gradient(#efefef, #ffffff);
  padding: 2em;
}
.custimages {
  display: flex;
  justify-content: center;
}

.custimages li {
  padding: 0 2em;
  margin: 0 20px;
}

#custim1 {
  background-image: url('../resources/asset14.png');
  height: 70px;
  width: 188px;
}

#custim1:hover {
  background-image: url('../resources/asset13.png')
}

#custim2 {
  background-image: url('../resources/asset16.png');
  height: 70px;
  width: 287px;
}

#custim2:hover {
  background-image: url('../resources/asset15.png')
}

#custim3 {
  background-image: url('../resources/asset18.png');
  height: 70px;
  width: 72px;
}

#custim3:hover {
  background-image: url('../resources/asset17.png')
}

#custim4 {
  background-image: url('../resources/asset20.png');
  height: 70px;
  width: 322px;
}

#custim4:hover {
  background-image: url('../resources/asset19.png')
}

/* ----------------------------------------
  NEWSLETTER FORM AREA
---------------------------------------- */

.newsletter {
  background: #ddd;
}

/* ----------------------------------------
  FOOTER AREA
---------------------------------------- */
footer {
  display: flex;
}

/* ----------------------------------------
  MEDIA QUERIES
---------------------------------------- */

@media (min-width: 769px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .top-nav-container {
    background: $color-white;
    width: 100%;
    order: 1;
  }
  
  .top-nav {
		height: 200px;
		justify-content: flex-end;
	}

	.site-logo {
		width: 350px;
	}

	.nav {
		margin-top: 3em;
		flex-direction: row;
		justify-content: space-between;
	}

	.nav a {
		border-bottom-color: transparent;
	}

  .search {
    max-width: 400px;
    order: 3;
  }

  .hamburger {
    order: 4;
  }

  
  /* ----------------------------------------
    MAIN-CONTENT
  ---------------------------------------- */

  .hero-image {
    display: flex;
    order: 3;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75)), url("../resources/asset3.jpeg") no-repeat;
    background-size: cover;
  }

  .main-content {
    width: 95%;
    margin: auto;
    color: $color-white;
  }

  /* ----------------------------------------
    HORIZONTAL-MENU
  ---------------------------------------- */

  .hormenu {
    display: flex;
    justify-content: center;
    background: $color-black;
    border-bottom: 1px solid #666;
    order: 2;
  }

  .hormenu a {
    text-decoration: none; 
    color: $color-white;
  }

  .hormenu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .hormenu ul li {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: $color-white;
    text-transform: uppercase;
    width: 175px;  
    background-color: $color-black;  
    padding: 1em;
    line-height: 1em;
    border-top: none;
    border-right: 1px solid #666;
    border-left: 1px solid #000;
  }

  small {
    font-size: 0.6em;
    padding: 0;
  }

  .web-design-sub {
    display: none;
  }

  .web-design:hover {
    background: $color-web-design-dark;
    .web-design-sub {
      display: inline;
    }
  }
  .it-support:hover {
    background: $color-it-support-dark;
  }
  .telecoms-services:hover {
    background: $color-telecom-services-dark;
  }
  .bespoke-software:hover {
    background: $color-bespoke-software-dark;
  }
  .digital-marketing:hover {
    background: $color-digital-marketing-dark;
  }
  .cyber-security:hover {
    background: $color-cyber-security-dark;
  }

  /* ----------------------------------------
    CUSTOMERS AREA
  ---------------------------------------- */

  .customers {
    background-image: linear-gradient(#efefef, #ffffff);
    padding: 2em;
  }
  .custimages {
    display: flex;
    justify-content: center;
  }

  .custimages li {
    padding: 0 2em;
    margin: 0 20px;
  }

  #custim1 {
    background-image: url('../resources/asset14.png');
    height: 70px;
    width: 188px;
  }

  #custim1:hover {
    background-image: url('../resources/asset13.png')
  }

  #custim2 {
    background-image: url('../resources/asset16.png');
    height: 70px;
    width: 287px;
  }

  #custim2:hover {
    background-image: url('../resources/asset15.png')
  }

  #custim3 {
    background-image: url('../resources/asset18.png');
    height: 70px;
    width: 72px;
  }

  #custim3:hover {
    background-image: url('../resources/asset17.png')
  }

  #custim4 {
    background-image: url('../resources/asset20.png');
    height: 70px;
    width: 322px;
  }

  #custim4:hover {
    background-image: url('../resources/asset19.png')
  }

  /* ----------------------------------------
    NEWSLETTER FORM AREA
  ---------------------------------------- */

  .newsletter {
    background: #ddd;
  }

  /* ----------------------------------------
    FOOTER AREA
  ---------------------------------------- */
  footer {
    display: flex;
  }
}

@media (min-width: 1200px) {
	.top-nav-container {
		/* width: 1080px; */
	}
  .top-nav {
		flex-direction: row;
	}
	.site-logo {
		margin-right: auto;
	}
	.nav {
		margin-top: 0;
		align-self: center;
	}
	.nav li {
		margin-left: .65em;
		margin-right: .65em;
	}
}
