// ---------------------------------------------------------------- /
// COLORS --------------------------------------------------------- /
// ---------------------------------------------------------------- /

$color-web-design: #926fb1;
$color-web-design-dark: #79539a;
$color-it-support: #4183d7;
$color-it-support-dark: #286abd;
$color-telecom-services: #d64541;
$color-telecom-services-dark: #bc2c28;
$color-bespoke-software: #67809f;
$color-bespoke-software-dark: #526781;
$color-digital-marketing: #2ecc71;
$color-digital-marketing-dark: #25a25a;
$color-cyber-security: #f62459;
$color-cyber-security-dark: #de093f;
$color-white: #fff;
$color-black: #333645;

// ---------------------------------------------------------------- /
// OTHER ---------------------------------------------------------- /
// ---------------------------------------------------------------- /